body {
  margin: 0;
  font-family: Lucida console, Monospace;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 22%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #5b82a3;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Centering Content */
.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 12px;
  height: 80px;
  margin-left: 25%; /* Prevents sidebar overlap */
}

h1 {
  font-size: 36px;
  flex: 1; /* Allows it to take up space */
  text-align: center;
}

.button {
	background-color: #74d7ee;
	border: none;
	color: black;
	padding: 8% 10%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 32px;
	cursor: pointer;
	border-radius: 80px;
	font-family: Lucida console, Monospace;
}

.button-container{position: absolute;
	left: calc(50% + 8%);
	top: 70%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: calc(100% - 25%);
}

.check-button {
	background-color: #74d7ee;
	border: none;
	color: black;
	padding: 15px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 32px;
	cursor: pointer;
	border-radius: 30px;
	font-family: Lucida console, Monospace;
}

.check-button-container{
	position: absolute;
	left: calc(60% + 8%);
	top: 80%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: calc(100% - 25%);
}
